

body {margin:0; padding:0; overflow:hidden; background-color: #14144b; }
#svgmap { position:relative; top:0; left:0; z-index: 0; background-color: #14144b;}
div {position: relative;}


  .sphere {
    fill: #14144b;
    position:absolute;
  }

  
  #map {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  } 
  .country {
    stroke: black;
    stroke-width: 0.03;
  }

  .country:hover {
    stroke: white;
    filter: brightness(120%);
    stroke-width: 0.9;
  }

  .country.highlighted {
    stroke: white;
    filter: brightness(110%);
    stroke-width: 0.5;
  }

  .country, .tick {
    cursor: pointer;
  }

  #titre{
    text-align: center;
  }

  .tick text {
    font-size: 1em;
    fill: "black";
    font-family: sans-serif;
  }
  
  
  .tick circle {
    stroke: black;
    stroke-opacity: 0.5;
  }

  #mySidepanel  {
    width: 0;
    position: fixed;
    z-index: 10;
    height: 250px;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #000000;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
  }
  
  #openbtn {
    top: 0;
    left: 0;
    position: fixed;
    z-index:10;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    visibility: hidden;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  .slidecontainer {
    position: absolute;
    z-index:1;
    margin: 46% 25% 25% 30%;
    width: 70%
}


#textYear {
  color: white;
  margin-top:0%;
  font-family: Helvetica;
  font-weight: 600
}

.slider {
    -webkit-appearance: none;
    width: 65%;
    height: 15px;
    background: #d5c10a;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 15px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #21099e;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
}


ol {
  font-size: 20px;
  margin: 0 0 1.5em;
  margin-bottom: 5em;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}


.item:hover {
  color:blue;
}
.item {
  cursor:pointer;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

